@import 'tailwindcss';

:root {
  --color-green: #46ce7a;
  --color-green-dim: #3ab86b;
  --color-green-pale: #e8faf0;
  --color-dark: #132227;
  --color-dark2: #20272f;
  --color-surface: #ffffff;
  --color-surface2: #f7faf8;
}
